<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/menu.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@400;700&family=Ubuntu&display=swap');
        </style>
    <title>Daiquiri-Club</title>
</head>
<body>

    <div id="header">

    </div>



    <main class="content">
        <form action="">
            <h2>Lista de Proveedores</h2>
            <section>
                <table id="listProveedores">
                    <thead>
                        <th>Fecha de Registros</th>
                        <th>Codigo</th>
                        <th>Razon Social</th>
                        <th>Ruc</th>
                        <th>Direccion</th>
                        <th>Correo Electronico</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                    </thead>
                </table>
            </section>
        </form>
    </main>
    <div id="footer">

    </div>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="../../app/layout/layout-controller.js"></script>
    <script src="../../app/proveedores/proveedores-controller.js"></script>
</body>
</html>