<header>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-align-justify"></i> 
    </label>
    <a href="#" class="enlace">
        <label class="logo" for="logo">Daiquir-Club</label>
    </a>
    <ul id="adminMenu">
        <li><a class="active" href="../categorias/categorias.html">Categorias</a></li>
        <li><a href="../clientes/clientes.html">Clientes</a></li>
        <li><a href="../proveedores/proveedores.html">Proveedores</a></li>
        <li><a href="../ventas/ventas.html">Ventas</a></li>
    </ul>
</header>
